doctype
html
  head
    meta(charset='utf-8')
    meta(name='viewport' content='initial-scale=1.0, width=device-width')
    meta(name='keywords' content='cards')
    meta(name='description' content='Slider')
    title Slider
    link(rel='stylesheet' href='slider.scss' type='text/css')
    script(src='jquery-for-parcel.js')
    
  body
    .wrapper
      .slider
        .slider__liner
        .slider__circle
        //-.slider__progress-bar
    script(src='slider.js')