$width-slider: 500px;

.wrapper {
  width: $width-slider;
  margin: 0 auto;
  margin-top: 200px;
}

.slider {
  position: relative;

  &__liner {
    background: #ffffff;
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 3px;
    width: 100%;
    height: 6px;
    position: absolute;
    cursor: pointer;
  }

  &__circle {
    width: 12px;
    height: 12px;
    background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
    border: 2px solid white;
    border-radius: 10px;
    position: absolute;
    left: 50%-8px * 100% / $width-slider;
    bottom: -11px;
    z-index: 1;
    cursor: pointer;
  }

  &__progress-bar {
    box-sizing: border-box;
    background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
    border-radius: 3px;
    width: 50%;
    height: 6px;
    position: absolute;
  }
}
